*{margin: 0px; padding: 0px;}
.navbar-custom{
	display:        inline;
background-color: white;

font-family:    Garamond;
font-size:      1.5em;

padding:        25px 50px;
opacity: 0.7;

}
.navitem {
	color: black;
}
.bgimg{
	background-image: url('../image/img9.jpg');
	background-size: 100% 100%;
	background-attachment: fixed;
	width: 100%;
	height:660px;
}
.headerset{
	padding: 200px;
	box-sizing: border-box;
}
.headerset h2{
font: 400 100px/1.3 'Merienda One', Helvetica, sans-serif;
  
  color: black;
  text-shadow: 1px 1px 0px #ededed, 4px 4px 0px rgb(212,175,55);
 
  font-size:08vw;

}
.headerset h1{
  font: 200 100px/1.3 'Arizonia', Helvetica, sans-serif;
  color: #000000;
  text-shadow: 4px 4px 0px rgb(212,175,55);
  font-size:05vw;
}


















 *{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.body-content{
	width: 100px;
	padding: 20px;
	text-align: justify;;
	box-sizing: border-box;
	font-size: 18px;
	line-height: 40px;


}

.footer{
	width: 100%;
	position: relative;
	background: #00121b;
	display: block;
	left: 0;
	bottom: 0;
	padding: 20px 10px;

}

.inner-footer{
	width: 90%;
	margin: auto;
	padding: 30px 10px;
	display: flex;
	flex-wrap: wrap;
	box-sizing: border-box;
	justify-content: center;
}

.footer-items{
	width: 25%;
	padding: 20px 40px;
	box-sizing: border-box;
}

.footer-h1{
	padding: 10px 0;
	font-size: 25px;
	color:#fff;
	text-transform: uppercase;
}

.footer-items p{
	color: grey;
	font-size: 16px;
	text-align: justify;
	line-height: 25px;
}

.footer-h2{
	margin:10px 0;
	color: grey;
	font-size: 16px;
	font-weight: lighter;
	text-transform: uppercase;
}

.border-footer{
	height: 2px;
	width: 40px;
	background: #ff9800;
}

ul{
	list-style: none;
	color:#fff;
	font-size: 15px;
	letter-spacing: 0.5px;
}

ul a{
	line-height: 25px;
	text-decoration: none;
	outline: none;
	color: #fff;
	transition: 0.3s;
}

ul a:hover{
	color:#ff9800;
}

ul li{
	margin: 10px 0;
	height: 25px; 
}

li i{
margin-right: 20px;
} 

.social-media{

	width:100%;
	color: #fff;
	text-align: center;
}

.social-media a{
	text-decoration: none;
}

.social-media i{
	height: 15px;
	width: 15px;
	margin: 5px 2px;
	padding: 10px;
	color: #fff;
	/*border-radius: 30%;
	border: 1px solid grey;*/
	transition: 0.5s;
	text-align: center;

}

.social-media i:hover{
	/*background: grey;*/
	opacity: 0.7;
}

.footer-bottom{
	width: 100%;
	padding: 10px;
	background: #3d545f;
	color: #fff;
	font-size: 12px;
	left:0;
	bottom: 0;
	position: relative;
	
}
@media screen and (max-width: 425px){
	.footer-items{
		width: 50%;
	}
	.footer{
		width: 100%;
	}
}
@media screen and (max-width: 1440px){
	.footer-items{
		width: 50%;
	}
	.footer{
		width: 100%;
	}
}

@media screen and (max-width: 1085px){
	.footer-items{
		width: 50%;
	}
}

@media screen and (max-width: 600px){
	.footer-items{
		width: 100%;
	}
}







.section {
	position: relative;
	/*height: 100vh;*/
	height: 350px;
}

.section .section-center {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#booking {
	font-family: 'Source Sans Pro', sans-serif;
	background-image: url('../image/img13.jpg');
	background-size: cover;
	background-position: center;
}

.booking-form {
	background: #fff;
	-webkit-box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.3);
	border: 1px solid rgba(60, 64, 101, 0.1);
	margin-top: 30px;

	padding: 0.1px;
}

.booking-form>form .row.no-margin {
	margin-right: 0px;
	margin-left: 0px;
}

.booking-form>form .row.no-margin>[class*="col-"] {
	padding-right: 0px;
	padding-left: 0px;
}

.booking-form .form-header {
	padding: 15px 10px;
	height: 110px;
	line-height: 110px;
	text-align: center;
}

.booking-form .form-header h2 {
	font-family: 'Alegreya', serif;
	margin: 0;
	display: inline-block;
	font-size: 52px;
	color: #9a8067;
}

.booking-form .form-group {
	position: relative;
	height: 110px;
	padding: 15px 10px;
	margin-bottom: 0px;
}

.booking-form .form-control {
	font-family: 'Alegreya', serif;
	background-color: transparent;
	border-radius: 0px;
	border: none;
	height: 50px;
	-webkit-box-shadow: none;
	box-shadow: none;
	padding: 0;
	font-size: 28px;
	color: #3c404a;
	font-weight: 700;
}

.booking-form select.form-control {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.booking-form select.form-control+.select-arrow {
	position: absolute;
	right: 0px;
	bottom: 20px;
	width: 32px;
	line-height: 32px;
	height: 32px;
	text-align: center;
	pointer-events: none;
	color: #818390;
	font-size: 12px;
}

.booking-form select.form-control+.select-arrow:after {
	content: '\279C';
	display: block;
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.booking-form .form-label {
	color: #818390;
	display: block;
	font-weight: 400;
	height: 30px;
	line-height: 30px;
	font-size: 14px;
}

.booking-form .form-btn {
	padding: 15px 10px;
	height: 110px;
}

.booking-form .submit-btn {
	background: #9a8067;
	color: #fff;
	border: none;
	font-weight: 400;
	text-transform: uppercase;
	font-size: 14px;
	display: block;
	height: 80px;
	width: 100%;
}








.card{
	margin: 100px 0;
	padding: 40px;
	box-shadow: 5px 10px 8px 10px #888888;
}
.card:hover{
	box-shadow: 5px 10px 8px 10px #34eba8;
	transform: translateY(-10%);
}
























































/********************uder work testimonial part**********************************/



/* equal card height */
.row-equal > div[class*='col-'] {
    display: flex;
    flex: 1 0 auto;
}

.row-equal .card {
   width: 100%;
}

/* ensure equal card height inside carousel */
.carousel-inner>.row-equal.active, 
.carousel-inner>.row-equal.next, 
.carousel-inner>.row-equal.prev {
    display: flex;
}

/* prevent flicker during transition */
.carousel-inner>.row-equal.active.left, 
.carousel-inner>.row-equal.active.right {
    opacity: 0.5;
    display: flex;
}


/* control image height */
.card-img-top-250 {
    max-height: 250px;
    overflow:hidden;
}      